.idea/.gitignore
.idea/
flutter_demo_app/__pycache__/
core/__pycache__/
v1/__pycache__/
v1/migrations/__pycache__/
v1/models/__pycache__/
configs/__pycache__/
__pycache__/manage.cpython-37.pyc
bell_app/__pycache__/
bell_app/views/__pycache__/
bell_tail/__pycache__/
bell_tail/views/__pycache__/
bell_app/migrations/__pycache__/
bell_app/forms/login/__pycache__/
