@import "const"

.m-headerArea
  padding-left: $base_space
  padding-right: $base_space

main
  padding-left: 300px

  .container
    width: 100%

.m-sideMenu_demoArea
  font-size: 30px
  text-align: center
  text-shadow: 2px 2px 3px bisque
  padding-top: $base_space3
  padding-bottom: $base_space3

.m-sideMenu_menuArea
  font-size: 20px

  a
    text-decoration: none
    color: black

  a:hover
    text-decoration: none
    color: black

  .material-icons
    font-size: 20px

.m-header_headerArea
  margin-bottom: $base_space2

.m-header_titleArea
  font-size: 24px
  padding-left: $base_space
