{% extends "base.html" %}
{% load sass_tags %}
{% block content %}
    <link rel="stylesheet" href="{% sass_src  'bell_web_test/login.sass' %}">

  <div class="row">
    <div class="col l6 s12 offset-l3">
        <div class="p-login_loginArea">
          <div class="card">
            <div class="card-content">
                <div class="input-field">
                  <input placeholder="ログインIDを入力してください" id="loginid" type="text" class="validate">
                  <label for="loginid"><i class="material-icons left">accessibility</i>ログインID</label>
                </div>
                <div class="input-field">
                  <input placeholder="パスワードを入力してください" id="password" type="text" class="validate">
                  <label for="password"><i class="material-icons left">vpn_key</i>パスワード</label>
                </div>

                <div class="center-align">
                    <button class="btn-large waves-effect waves-light p-login_loginArea-loginBtn" type="submit" name="action">
                        <i class="material-icons left">input</i>
                        ログイン
                    </button>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>


{% endblock %}