{% extends "base.html" %}
{% load sass_tags %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col s12">
          <table>
              <tbody>
                <tr>
                    <td>
                         {{ form.article_title.label_tag }}
                    </td>
                    <td>
                        {{ form.article_title }}
                    </td>
                </tr>
                <tr>
                    <td>
                        本文
                    </td>
                    <td>
                        {{ form.article_body }}
                    </td>
                </tr>

              </tbody>
          </table>
        </div>
    </div>
</form>

{% endblock %}